<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceData" type="BackupService.ConfigSections.ServiceData, BackupService" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <serviceData>
    <backupConfigurations>
      <backupConfiguration>
        <general>
          <basePath path="D:\Annick\Documents\Unit4 C-Logic\VenLite"/>
          <lastBackup date="2016-08-17"/>
          <interval months="1"/>
        </general>
        <folders>
          <folder name="Data" path="\Data"/>
          <folder name="Main" path="\Main"/>
        </folders>
      </backupConfiguration>
      <backupConfiguration>
        <general>
          <basePath path="D:\Annick\Documents\Unit4 C-Logic\Venice"/>
          <lastBackup date=""/>
          <interval months="1"/>
        </general>
        <folders>
          <folder name="Data" path="\Data"/>
        </folders>
      </backupConfiguration>
      </backupConfigurations>
  </serviceData>
</configuration>
