<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="folderGroup">
      <section name="general" type="BackupService.ConfigSections.General, BackupService" />
      <section name="backupFolders" type="BackupService.ConfigSections.BackupFolders, BackupService" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <folderGroup>
    <general>
      <basePath path="D:\Annick\Documents\Unit4 C-Logic\VenLite" />
      <lastBackup date="2016-08-17" />
      <interval months="1" />
    </general>
    <backupFolders>
      <add name="Data" path="\Data" />
    </backupFolders>
  </folderGroup>
</configuration>