<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configSections>
    <sectionGroup name="folderGroup" type="BackendService.ConfigSections.FolderGroup, BackupService">
      <section name="general" type="BackupService.ConfigSections.FolderGroup, BackupService" />
      <section name="folders" type="BackupService.ConfigSections.FolderGroup, BackupService" />
    </sectionGroup>
  </configSections>
  <folderGroup>
    <general>
      <basePath path="D:\Annick\Documents\Unit4 C-Logic\VenLite" />
      <lastBackup date="2016-08-17" />
      <interval months="1" />
    </general>
    <folders>
      <add name="Data" path="\Data" />
    </folders>
  </folderGroup>
</configuration>