<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceData" type="BackupService.ConfigSections.ServiceData, BackupService" />
  </configSections>
  <serviceData>
    <backupConfigurations>
      <backupConfiguration>
        <general>
          <identifier name="VenLite" />
          <basePath path="D:\Annick\Documents\Unit4 C-Logic\VenLite" />
          <lastBackup date="2016-07-22" />
          <interval months="1" />
        </general>
        <folders>
          <folder name="Data" path="\" />
          <folder name="Main" path="\" />
        </folders>
      </backupConfiguration>
      <backupConfiguration>
        <general>
          <identifier name="Venice" />
          <basePath path="D:\Annick\Documents\Unit4 C-Logic\Venice" />
          <lastBackup date="2016-08-22" />
          <interval months="1" />
        </general>
        <folders>
          <folder name="Data" path="\" />
          <folder name="Main" path="\" />
        </folders>
      </backupConfiguration>
    </backupConfigurations>
  </serviceData>
</configuration>
